<sl-navbar></sl-navbar>
<!--<div class="container-fluid">-->
    <!--<div class="">-->
        <!--<a href="#!/admin/new" type="button" class="btn btn-sm btn-primary">-->
            <!--<i class="fa fa-plus" aria-hidden="true"></i> Add Course-->
        <!--</a>-->
        <!--<table class="table-border table dt-responsive table-striped">-->
            <!--<thead class="thead-inverse">-->
            <!--<tr class="row table-component-row">-->
                <!--<th class="">Partner ID</th>-->
                <!--<th class="">Partner Name</th>-->
                <!--<th class="">Phone Number</th>-->
                <!--<th class="">Edit/Delete</th>-->
                <!--&lt;!&ndash;modal?&ndash;&gt;-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr class="row table-component-row" ng-repeat="user in model.users">-->
                <!--<td class="">{{user.role}}</td>-->
                <!--<td class=""><a href="#!/profile/{{user.username}}">{{user.username}}</a></td>-->
                <!--<td class="">{{user.nickname}}</td>-->

                <!--<td class="col-xs-4 col-sm-2 col-md-2 col-lg-1">-->
                    <!--<a href="#!/profile/{{user.username}}/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>-->
                    <!--<a href="" ng-click="model.unregisterUser(user)"><i class="fa fa-times" id="admin-delete" aria-hidden="true"></i></a>-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->

    <!--&lt;!&ndash; Search Bar &ndash;&gt;-->

<!--</div>-->

<div class="container-fluid">
    <div class="container-fluid">
        <table class="table-border table dt-responsive table-striped">
            <thead class="thead-inverse">
            <tr class="row table-component-row">
                <th class="col-2">Partner ID</th>
                <th class="col-2">Partner Name</th>
                <th class="col-2">Phone Number</th>
                <th class="col-5">Description</th>
                <th class="col-1">
                    <a href="#!/admin/new" type="button" class="btn btn-sm btn-primary pull-right">
                        <i class="fa fa-plus" aria-hidden="true"></i> Create Course
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="row table-component-row">
                <td class="col-2">{{user.role}}asdf</td>
                <td class="col-2"><a href="#!/profile/{{user.username}}">{{user.username}}asdf</a></td>
                <td class="col-2">{{user.nickname}}asdf</td>
                <td class="col-5">{{user.firstName}}asfd</td>
                <td class="col-1">
                    <a href="#!/profile/{{user.username}}/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="" ng-click="model.unregisterUser(user)"><i class="fa fa-times" id="admin-delete" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr class="row table-component-row">
                <td class="col-2">{{user.role}}asdf</td>
                <td class="col-2"><a href="#!/profile/{{user.username}}">{{user.username}}asdf</a></td>
                <td class="col-2">{{user.nickname}}asdf</td>
                <td class="col-5">{{user.firstName}}asfd</td>
                <td class="col-1">
                    <a href="#!/profile/{{user.username}}/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="" ng-click="model.unregisterUser(user)"><i class="fa fa-times" id="admin-delete" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr class="row table-component-row">
                <td class="col-2">{{user.role}}asdf</td>
                <td class="col-2"><a href="#!/profile/{{user.username}}">{{user.username}}asdf</a></td>
                <td class="col-2">{{user.nickname}}asdf</td>
                <td class="col-5">{{user.firstName}}asfd</td>
                <td class="col-1">
                    <a href="#!/profile/{{user.username}}/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="" ng-click="model.unregisterUser(user)"><i class="fa fa-times" id="admin-delete" aria-hidden="true"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Search Bar -->

</div>